// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round&display=swap');

// Define fonts for body and headers
$Varela: "Varela Round", "sans-serif";
$OpenSans: "Open Sans", "sans-serif";
$header: 3.4rem;
$question: 3rem;
$normal: 1.2rem;

