.privacy-notice-container {
  .left-form {
    height: 100%;
    flex: 1;
    background-color: $purple;
    padding: 25px;
    .container-from-left-form {
    }
  }
  .right-form {
    height: 100%;
    flex: 2;
    padding: 25px;
    form {
      height: 100%;
      width: 100%;
      position: relative;
      .question-title {
        color: $purple;
        font-size: $question;
        font-family: $Varela;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
      }
      .labels-container {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        font-size: $normal;
        .radio-input {
          input[type="radio"] {
            display: none;
          }
          input[type="radio"] + label {
            cursor: pointer;
            background-color: rgba(196, 196, 196, 0.2);
            border-radius: 5px;
            padding: 15px 100px;
            width: 420px;
            color: black;
            text-align: center;
          }
          input[type="radio"] + label {
            &:hover {
              background-color: rgba(60, 22, 141, .2);
              transition: all .3s ease-out;
              color: white;
            }
          }
          input[type="radio"]:checked + label {
            background-color: $purple;
            color: white;
            font-weight: 600;
          }
        }
      }
      .form-buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: flex-end;
        .previous-question {
          color: $purple;
          font-size: $normal;
          position: absolute;
          left: 0;
          &:hover {
            cursor: pointer;
          }
        }
        .next-question {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
