.privacy-notice-container {
  .left-form {
    height: 100%;
    flex: 1;
    background-color: $purple;
    padding: 25px;
    .container-from-left-form {
    }
  }
  .right-form {
    height: 100%;
    flex: 2;
    padding: 25px;
    form {
      height: 100%;
      width: 100%;
      position: relative;
      .question-title {
        color: $purple;
        font-size: $question;
        font-family: $Varela;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
      }
      .labels-container {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        font-size: $normal;
        display: flex;
        flex-direction: column-reverse;
        .radio-input {
          position: relative;
          .hint {
            background-color: #FFCC00;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute;
            right: -9px;
            top: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            color: white;
            cursor: pointer;
          }
          input[type="radio"] {
            display: none;
          }
          input[type="radio"] + label {
            cursor: pointer;
            background-color: rgba(196, 196, 196, 0.2);
            border-radius: 5px;
            padding: 15px 100px;
            width: 420px;
            color: black;
            text-align: center;
          }
          input[type="radio"]:checked + label {
            background-color: $purple;
            color: white;
            font-weight: 600;
          }
        }
        .checkbox-input {
          input[type="checkbox"] {
            display: none;
          }
          input[type="checkbox"] +label:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: $normal;
            content: "\f0c8";
            margin-right: 10px;
            color: $purple;
            opacity: .1;
          }
          input[type="checkbox"]:checked +label:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: $normal;
            content: "\f14a";
            margin-right: 10px;
            color: $purple;
            opacity: 1;
          }
        }
      }
      .form-buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: flex-end;
        .previous-question {
          color: $purple;
          font-size: $normal;
          position: absolute;
          left: 0;
          &:hover {
            cursor: pointer;
          }
        }
        .next-question {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
