<label><input type='checkbox'> TOGGLE OFF</label>

<h2>text input</h2>
<input type='text' name='tags' placeholder='write some tags' value='foo, bar,buzz, bar'>

<h2>textarea</h2>
<textarea name='tags2' placeholder='Movie names'>The Matrix, Pulp Fiction, Mad Max</textarea>
