<div class="form-group" style="position: absolute; top: 50%; right: 50%;">
  <%= form_for @privacy_notice do %>

  <%= select_tag @answers.where(question: 6).last.parameter.to_sym, options_for_select([ "7 derniers jours", "14 derniers jours", "30 derniers jours", "Depuis l'an dernier" ]), id: "created-at-input", class: "selectize", multiple: :true %>


    <%#= select_tag :privacy_notice_id, options_for_select(['numbers of views', 'numbers fo followers']),
                   { multiple: true, class: "selectize" } %>
  <% end %>
  <div class="button">
    Next
  </div>
</div>

