<div class="container">
  <div class="first-paraph">
    Dans le cadre <%= serialize_type_of_operation(@privacy_notice.type_of_operation) %>, Ubisoft Entertainment (107 avenue Henri Fréville, BP 10704, 35207 Rennes Cedex 2, France) <% if @privacy_notice.organizer_under_contract %> a chargé <%= @privacy_notice.agency_name %><% end %> <% if @privacy_notice.shared_data %>pour vous permettre de participer au jeu concours, contacter les gagnants afin de remettre les prix et partager le contenu que vous publierez<% else %>pour vous permettre de participer au jeu concours et contacter les gagnants afin de remettre les prix<% end %> :
  </div>

  <div class="second-paraph">
  </div>

  <div class="third-paraph">
  </div>

  <div class="fourth-paraph">
  </div>

  <div class="fifth-paraph">
  </div>
</div>

<br><br><br><br><br><br><br><br><br><%= @privacy_notice.attributes %>
