
// Colors
.orange {
  color: $orange;
}
.white {
  color: white;
}

// Refacto
* {
  box-sizing: border-box;
}

// Display
.hidden {
  display: none;
}

// Bakcground
.purple-background {
  background-color: $purple;
}
